<div style="box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);" id="side-menu" class="side-menu">
    <a href="/">
        <div class="menuContainer">
        <div class="center">
            <i class="material-icons sidemenuIcon">home</i>
        </div>
        <div class="sidemenuText">
            Home
        </div>
    </div>
    </a>
    <a href="/services">
        <div class="menuContainer">
        <div class="center">
            <i class="material-icons sidemenuIcon">dashboard</i>
        </div>
        <div class="sidemenuText">
            Services
        </div>
    </div>
    </a>
    <a href="/">
        <div class="menuContainer">
        <div class="center">
            <i class="material-icons sidemenuIcon">chat</i>
        </div>
        <div class="sidemenuText">
            Home
        </div>
    </div>
    </a>
    <a href="/">
        <div class="menuContainer">
        <div class="center">
            <i class="material-icons sidemenuIcon">apps</i>
        </div>
        <div class="sidemenuText">
            Home
        </div>
    </div>
    </a>
    <a href="/">
        <div class="menuContainer">
        <div class="center">
            <i class="material-icons sidemenuIcon">pages</i>
        </div>
        <div class="sidemenuText">
            Home
        </div>
    </div>
    </a>
    <a href="/">
        <div class="menuContainer">
        <div class="center">
            <i class="material-icons sidemenuIcon">call</i>
        </div>
        <div class="sidemenuText">
            Home
        </div>
    </div>
    </a>
    <a href="/">
        <div class="menuContainer">
        <div class="center">
            <i class="material-icons sidemenuIcon">info</i>
        </div>
        <div class="sidemenuText">
            Home
        </div>
    </div>
    </a>
</div>