<link rel="stylesheet" href="/static/css/inputStyle.css">
<form method="post">
    <div class="row">
    <div class="col s12 m5 labelContainer">
      <label for="DiseaseName" >Desease Name</label>
    </div>
    <div class="col s10 m6">
      <input placeholder="Desease Name" type="text" class="validate" name="DeseaseName">
    </div>
  </div>
  
  <div class="row">
    <div class="col s12 m5 labelContainer">
      <label for="Summary" >Summary</label>
    </div>
    <div class="col s10 m6">
      <textarea placeholder="Summary" name="Summary" class="input-textarea"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m5 labelContainer">
      <label for="Cause" >Cause</label>
    </div>
    <div class="col s10 m6">
      <input placeholder="Cause" type="text" class="validate" name="Cause">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m5 labelContainer">
      <label for="Midiecnce" >Midiecnce</label>
    </div>
    <div class="col s10 m6">
      <input placeholder="Midiecnce" type="text" class="validate" name="Midiecnce">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m5 labelContainer">
      <label for="NaturalMidiecnce" >Natural Care</label>
    </div>
    <div class="col s10 m6">
      <input placeholder="Natural Care" type="text" class="validate" name="NaturalCare">
    </div>
  </div>
  <div class="center">
  <button type="submit" class="btn themeButton ">Submit</button>
  </div>
</form>