<div class="content">
    <div class="row">
    <div class="col s12 m5 center">
        <img src="/static/images/nurse.svg" class="responsive-img center nurseImage">
    </div>
    <div class="col s12 m6 deseaseContainer">
        <h4 class="center">Desease Finder</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Elit ullamcorper dignissim cras tincidunt lobortis feugiat. 
        Quisque non tellus orci ac auctor augue. Risus viverra adipiscing at in.
        Egestas erat imperdiet sed euismod nisi porta lorem mollis.
        Id interdum velit laoreet id donec ultrices tincidunt arcu.
        A condimentum vitae sapien pellentesque habitant morbi tristique senectus.
        Eget nullam non nisi est sit amet facilisis magna.
        Morbi tincidunt ornare massa eget egestas purus viverra.
        Porttitor massa id neque aliquam.</p>
        <div class="center row">
            <div class="col s12 m6">
                <a href="/services/deseasefinder/add" class="btn themeButton">Add New</a>
            </div>
            <div class="col s12 m6">
                <a href="/services/deseasefinder/list"  class="btn themeButton">View Desease</a>
            </div>
        </div>
    </div>
</div>
</div>
          